<h1>Create a new shelf</h1>
{{#if shelfTitle}}
    <div style="color: red" >{{shelfTitle}}</div>
{{/if}}<br>

<form class="form-group" action="" method="POST">
    Shelf Name: <input type="text" name="shelfTitle"><br>
    <input type="submit">
</form>